html {
    min-height: 100vh;
}

body {
    background-color: #272a2e;
    min-height: 100vh;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 1.2em;
    padding: 0 1.2em;
}

.container > div {
    background: white;
    /* aspect-ratio: 2; */
}

@media (max-width: 792px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

/* make cards white */